
@import "tailwindcss";
/* Hide scrollbar for all browsers */
.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

