
@import "tailwindcss";
/* Hide scrollbar for all browsers */
.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }